body{
    background-color:darkgrey;
}

header{
    background-color: deepskyblue;
    
}

.info{ 
    margin-left: 300px;
    margin-right: 300px;
}

.info, img{
    width: 600px;
}

img{
    height: auto;
}

h2, h3{
    background-color: crimson;
    color: ivory;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}